main {
    #codeSnippet {
        background-color: $black;
        padding-top: 80px;

        .container {
            @include container;

            h1 {
                @include projectH;
            }

            p {
                @include li;
            }

            .search {
                position: relative;

                #search {
                    background-color: $blue;
                    color: $searchGray;
                    border-radius: 10px;
                    border: none;
                    font-size: 18px;
                    font-family: $poppins;
                    font-weight: 400;
                    padding-left: 36px;
                    width: 1140px;
                    height: 83px;
                }

                #searchImg {
                    position: absolute;
                    right: -70px;
                    top: 25px;
                }
            }

            .grid {
                @include grid;
                grid-template-columns: 1fr 1fr;

                .codeBox {
                    @include snippet;

                    h3 {
                        @include bigP;
                        margin: 50px 0px 3px 40px;
                    }

                    p {
                        @include secondP;
                        margin-left: 25px;
                    }

                    .snippetTailwind {
                        @include snippetTailwind;
                    }

                    .snippetReact {
                        @include snippetReact;
                    }

                    .snippetSass {
                        @include snippetSass
                    }

                    .snippetHtml {
                        @include snippetHtml;
                    }

                    .stars {
                        img {
                            position: absolute;
                            right: 130px;
                            bottom: 32px;
                        }

                        p {
                            position: absolute;
                            right: 52px;
                            bottom: 30px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:400px) {
    main {
        #codeSnippet {
            .container {
                @include cont;

                h1 {
                    font-size: 40px;
                    text-align: center;
                    margin-bottom: 50px;
                }

                p {
                    margin-left: 15px;
                }

                .search {
                    position: relative;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);

                    #search {
                        width: 336px;
                        padding-left: 5px;
                        font-size: 14px;
                        margin-left: 10px;
                        margin-top: 100px;
                    }

                    #searchImg {
                        position: absolute;
                        right: 0px;
                        top: 130px;
                        width: 25px;
                    }
                }
                .grid{
                    @include grid;
                    grid-template-columns: 1fr;
                    .codeBox{
                        width: 330px;
                        margin: 30px auto;
                        h3{
                            font-size: 22px;
                        }
                        .snippetSass{
                            left: 150px;
                            bottom: 27px
                        }
                        .snippetTailwind {
                            bottom: 27px;
                        }
                        .snippetReact {
                            bottom: 27px;
                        }
                        .stars{
                            p{
                                right: 5px;
                            }
                            img{
                                right: 85px;
                            }
                        }
                    }
                }
            }
        }
    }
}