$gray: #d1d1d1;
$black: #272727;
$white: #fff;
$darkBlue: #4ca9ff;
$lightBlue: #62d9ff;
$green: #80ffa3;
$poppins: "Poppins",
sans-serif;
$secondGray: #3a3636;
$blue: #323443;
$lineGray: #4d4d4d;
$strelicaBlue : #3F4152;
$thirdGray : #DEDEDE;
$p : #D4D4D4;
$buttonGray : #C9C9C9;
$fullBlack : #000;
$span : #3BF686;
$searchGray :#9C9C9C;